ion-item {
  --background: transparent;
  margin-bottom: 10px;
}

.section-divider {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  padding-left: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.danger-zone {
  --color: var(--ion-color-danger);
  border: 1px dashed var(--ion-color-danger);
  border-radius: 8px;
  margin-top: 10px;
}

.readonly-item {
  background-color: #f3f4f6; // Fondo gris muy suave
  border-radius: 8px;
  --padding-start: 10px;
  
  ion-input {
    --color: var(--ion-color-dark); // Texto oscuro legible
    font-weight: 600;
    opacity: 1; // Asegurar opacidad total
  }

  ion-label {
    color: var(--ion-color-medium-shade);
  }
}