<div class="product-card" (click)="onAdd()">
  <div class="icon-container">
    <!-- Icono por defecto si no hay imagen específica -->
    @if (!product.image && product.nombre.toLowerCase().includes('cam')) {
      <ion-icon name="shirt-outline"></ion-icon>
    }
    @if (!product.image && !product.nombre.toLowerCase().includes('cam')) {
      <ion-icon name="pricetag-outline"
      ></ion-icon>
    }
    @if (product.image) {
      <img [src]="product.image" alt="Product Image">
    }
  </div>
  <div class="product-name">
    {{ product.nombre }}
  </div>

  <!-- Opcional: Mostrar precio en la tarjeta si se desea -->
  <div class="product-price">
    {{ product.precioVenta | currency:'USD':'symbol':'1.0-0' }}
  </div>
</div>